<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Khách hàng</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/font-awesome.min.css}">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/nalika-icon.css}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/owl.transitions.css}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/normalize.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/meanmenu.min.css}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/main.css}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/calendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/calendar/fullcalendar.print.min.css}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/style.css}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/responsive.css}">
    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/nalika/js/vendor/modernizr-2.8.3.min.js}"></script>
    <style>
        .main-logo{
            width:200px;
            height:50px;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div th:replace="fragments/adminLeftSidebar :: adminLeftSidebar"></div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">

        <div th:replace="fragments/adminHeader :: adminHeader"></div>

        <div class="product-status mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Danh sách khách hàng</h4>
                            <div th:text="${error} ? 'Lỗi khi khóa tài khoản, hãy thử lại.' : ''"></div>
                            <table>
                                <tr>
                                    <th></th>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Giới tính</th>
                                    <th>Địa chỉ</th>
                                    <th>Số điện thoại</th>
                                    <th>Mã cửa hàng</th>
                                    <th>Tình trạng</th>
                                    <th></th>
                                </tr>
                                <tr th:each="customer, iStat : ${customerPages.getContent()}">
                                    <td th:text="${iStat.index + 1}"></td>
                                    <td th:text="${customer.firstName} + ' ' + ${customer.lastName}"></td>
                                    <td th:text="${customer.email}"></td>
                                    <td th:text="${customer.gender}"></td>
                                    <td><textarea th:text="${customer.address}" rows="3" cols="11" type="text" class="form-control"></textarea></td>
                                    <td th:text="${customer.phone}"></td>
                                    <td th:text="${customer.store != null ? customer.store.id : 'Chưa đăng ký'}"></td>
                                    <td th:if="${!customer.isLocked}">
                                        <a class="btn btn-success" th:text="'Hoạt động'" readonly></a>
                                    </td>
                                    <td th:if="${customer.isLocked}">
                                        <a class="btn btn-danger" th:text="'Đã khóa'" readonly></a>
                                    </td>
                                    <td>
                                        <a th:if="${!customer.isLocked}" th:placeholder="'Khóa tài khoản'" th:href="@{/admin/lockAccount/{email}(email=${customer.email})}" class="btn btn-danger" aria-hidden="true">
                                            <i class="fa fa-lock"></i>
                                        </a>
                                        <a th:if="${customer.isLocked}" th:placeholder="'Khóa tài khoản'" th:href="@{/admin/unlockAccount/{email}(email=${customer.email})}" class="btn btn-primary" aria-hidden="true">
                                            <i class="fa fa-unlock"></i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                            <div class="custom-pagination" th:if="${customerPages.totalPages > 1}">
                                <ul class="pagination">
                                    <li class="page-item" th:class="${(customerPages.getNumber() + 1) == 1} ? 'disabled' : ''">
                                        <a th:href="@{'/admin/customers?page=1&size=' + ${pageSize}}">First</a>
                                    </li>
                                    <li class="page-item" th:class="${(customerPages.getNumber() + 1) == 1} ? 'disabled' : ''">
                                        <a th:href="@{'/admin/customers?page=' + (${(customerPages.getNumber() + 1) - 1}) + '&size=' + ${pageSize}}">Previous</a>
                                    </li>
                                    <li class="page-item" th:each="pageNumber : ${#numbers.sequence(1, customerPages.totalPages)}" th:class="${(customerPages.getNumber() + 1) == pageNumber} ? 'active' : ''">
                                        <a th:href="@{'/admin/customers?page=' + ${pageNumber} + '&size=' + ${pageSize}}" th:text="${pageNumber}"></a>
                                    </li>
                                    <li class="page-item" th:class="${(customerPages.getNumber() + 1) == customerPages.totalPages} ? 'disabled' : ''">
                                        <a th:href="@{'/admin/customers?page=' + (${(customerPages.getNumber() + 1) + 1}) + '&size=' + ${pageSize}}">Next</a>
                                    </li>
                                    <li class="page-item" th:class="${(customerPages.getNumber() + 1) == customerPages.totalPages} ? 'disabled' : ''">
                                        <a th:href="@{'/admin/customers?page=' + ${customerPages.totalPages} + '&size=' + ${pageSize}}">Last</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery
		============================================ -->
    <script th:src="@{/nalika/js/vendor/jquery-1.12.4.min.js}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script th:src="@{/nalika/js/bootstrap.min.js}"></script>
    <!-- wow JS
		============================================ -->
    <script th:src="@{/nalika/js/wow.min.js}"></script>
    <!-- price-slider JS
		============================================ -->
    <script th:src="@{/nalika/js/jquery-price-slider.js}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script th:src="@{/nalika/js/jquery.meanmenu.js}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script th:src="@{/nalika/js/owl.carousel.min.js}"></script>
    <!-- sticky JS
		============================================ -->
    <script th:src="@{/nalika/js/jquery.sticky.js}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script th:src="@{/nalika/js/jquery.scrollUp.min.js}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script th:src="@{/nalika/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{/nalika/js/scrollbar/mCustomScrollbar-active.js}"></script>
    <!-- metisMenu JS
		============================================ -->
    <script th:src="@{/nalika/js/metisMenu/metisMenu.min.js}"></script>
    <script th:src="@{/nalika/js/metisMenu/metisMenu-active.js}"></script>
    <!-- sparkline JS
		============================================ -->
    <script th:src="@{/nalika/js/sparkline/jquery.sparkline.min.js}"></script>
    <script th:src="@{/nalika/js/sparkline/jquery.charts-sparkline.js}"></script>
    <!-- calendar JS
		============================================ -->
    <script th:src="@{/nalika/js/calendar/moment.min.js}"></script>
    <script th:src="@{/nalika/js/calendar/fullcalendar.min.js}"></script>
    <script th:src="@{/nalika/js/calendar/fullcalendar-active.js}"></script>
    <!-- float JS
        ============================================ -->
    <script th:src="@{/nalika/js/flot/jquery.flot.js}"></script>
    <script th:src="@{/nalika/js/flot/jquery.flot.resize.js}"></script>
    <script th:src="@{/nalika/js/flot/curvedLines.js}"></script>
    <script th:src="@{/nalika/js/flot/flot-active.js}"></script>
    <!-- plugins JS
		============================================ -->
    <script th:src="@{/nalika/js/plugins.js}"></script>
    <!-- main JS
		============================================ -->
    <script th:src="@{/nalika/js/main.js}"></script>
</body>

</html>