<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Edit | Nalika - Material Admin Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/font-awesome.min.css}">
    <!-- nalika Icon CSS
        ============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/nalika-icon.css}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/owl.theme.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/owl.transitions.css}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/normalize.css}">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/meanmenu.min.css}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/main.css}">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/morrisjs/morris.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/metisMenu/metisMenu-vertical.css}">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/calendar/fullcalendar.min.css}">
    <link rel="stylesheet" th:href="@{/nalika/css/calendar/fullcalendar.print.min.css}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/style.css}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" th:href="@{/nalika/css/responsive.css}">
    <!-- modernizr JS
		============================================ -->
    <script th:src="@{/nalika/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
<div th:replace="fragments/leftSidebar :: leftSidebar">

</div>
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a th:href="@{/store/home}"><img class="main-logo" th:src="@{/nalika/img/logo/logo.png}" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/storeAdminHeader :: storeAdminHeader"></div>
        <!-- Single pro tab start-->
        <div class="single-product-tab-area mg-b-30">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><a href="#productDetail"><i class="icon nalika-edit" aria-hidden="true" ></i> Sản phẩm</a></li>
                                    <li th:if="${product.id != null}"><a href="#details"><i class="fa fa-info-circle" aria-hidden="true" ></i>Chi tiết</a></li>
                                    <li th:if="${product.id != null}"><a href="#reviews"><i class="icon nalika-picture" aria-hidden="true"></i>Hình ảnh</a></li>
                                    <li th:if="${product.id != null}"><a href="#INFORMATION"><i class="icon nalika-chat" aria-hidden="true"></i>Đánh giá</a></li>
                                </ul>
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="productDetail">
                                        <form th:action="@{/store/{storeId}/products/add(storeId=${store.getId()})}" method="post" th:object="${product}">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                    <div class="review-content-section">
                                                        <input type="hidden" name="id" th:field="*{id}">
                                                        <div class="input-group mg-b-pro-edt">
                                                            <span class="input-group-addon"><i class="icon nalika-user" aria-hidden="true"></i></span>
                                                            <input type="text" class="form-control" placeholder="Tên sản phẩm" required th:field="*{name}" name="name" id="name">
                                                        </div>
                                                        <div class="input-group mg-b-pro-edt">
                                                            <span class="input-group-addon"><i class="fa fa-list" aria-hidden="true"></i></span>
                                                            <select th:field="*{category}" id="category" name="category" required class="form-control pro-edt-select form-control-primary">
                                                                <option th:each="category :${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                                                            </select>
                                                        </div>
                                                        <div class="input-group mg-b-pro-edt">
                                                            <span class="input-group-addon"><i class="fa fa-usd" aria-hidden="true"></i></span>
                                                            <input type="number" class="form-control" placeholder="Giá tiền" required th:field="*{price}"
                                                                   th:value="${#numbers.formatCurrency(product.price)}" name="price" id="price">
                                                        </div>
                                                        <div class="input-group mg-b-pro-edt">
                                                            <span class="input-group-addon"><i class="icon nalika-settings" aria-hidden="true"></i></span>
                                                            <input type="number" class="form-control" placeholder="Số lượng" required th:value="${product.quantity}" name="quantity" id="quantity">
                                                        </div>
                                                        <div class="input-group mg-b-pro-edt">
                                                            <span class="input-group-addon"><i class="icon nalika-new-file" aria-hidden="true"></i></span>
                                                            <textarea type="text" class="form-control" placeholder="Mô tả sản phẩm" th:field="*{description}" rows="5" name="description" id="description" required></textarea>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                            <div class="text-center custom-pro-edt-ds">
                                                                <button type="submit" class="btn btn-ctl-bt waves-effect waves-light m-r-10">Save
                                                                </button>
                                                                <button type="button" th:action="@{/store/{storeId}/products(storeId=${storeId})}" class="btn btn-ctl-bt waves-effect waves-light">Discard
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div th:if="${product.id != null}" class="product-tab-list tab-pane fade" id="details">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <form th:action="@{/store/update-detail}" method="post">
                                                <div class="product-status-wrap">
                                                    <a th:href="@{/store/{storeId}/products/{id}/details/add (storeId=${storeId}, id=${product.id})}" style="margin: 20px 0" class="btn btn-primary">Thêm chi tiết
                                                    </a>
                                                    <table>
                                                        <tr>
                                                            <th></th>
                                                            <th>Tên chi tiết</th>
                                                            <th>Mô tả</th>
                                                            <th>Action</th>
                                                        </tr>
                                                        <tr th:each="detail, iStat : ${product.details}">
                                                            <td th:text="${iStat.index} + 1"></td>
                                                            <td th:text="${detail.name}"></td>
                                                            <td>
                                                                <textarea type="text" class="form-control" th:text="${detail.description}" rows="3" cols="1" id="description" name="description"></textarea>
                                                            </td>
                                                            <td>
                                                                <input name="id" id="id" th:value="${detail.id}" hidden="hidden">
                                                                <button type="submit" name="action" value="update" class="btn btn-success">
                                                                    <i class="fa fa-cog"></i>
                                                                </button>
                                                                <!--                    <a th:data-confirm-delete="|Are you sure you want to delete this detail: ${detail.name}?|"-->
                                                                <!--                       onclick="return confirm(this.getAttribute('data-confirm-delete'))"-->
                                                                <!--                       href="" th:href="@{'/store/' + ${store.getId()} + '/products' + ${detail.product.id} + '/delete/' + ${detail.id}}" class="btn btn-danger">-->
                                                                <!--                        Delete-->
                                                                <!--                    </a>-->
                                                                <button th:data-confirm-delete="|Are you sure you want to delete this detail: ${detail.name}?|"
                                                                        onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                                                                        type="submit" name="action" value="delete" title="Delete" class="btn btn-danger">
                                                                    <i class="fa fa-trash"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${product.id != null}" class="product-tab-list tab-pane fade" id="reviews">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="product-status-wrap">
                                                        <form th:action="@{/store/upload-productImage}" method="post" enctype="multipart/form-data">
                                                            <div class="col-lg">
                                                                <input type="hidden" th:value="${product.id}" th:name="productId">
                                                                <div style="height: 100px; width: 100px" class="pro-edt-img">
                                                                    <img src="/nalika/img/logo/logosn.png" alt="" id="selectedImage"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <div class="row">
                                                                    <div class="col-lg-12">
                                                                        <div class="product-edt-pix-wrap">
                                                                            <div class="input-group">
                                                                                <span class="input-group-addon"><i class="fa fa-file-image-o"></i></span>
                                                                                <input required accept="image/*" type="file" class="form-control" th:name="image" placeholder="Thêm hình ảnh sản phẩm" id="imageInput">
                                                                            </div>
                                                                            <div class="text-right">
                                                                                <button class="btn btn-primary" type="submit">Thêm hình ảnh</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    <table>
                                                        <tr>
                                                            <th></th>
                                                            <th>Hình ảnh</th>
                                                            <th>Tên hình ảnh</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr th:each="image, iStat : ${product.images}">
                                                            <td th:text="${iStat.index} + 1"></td>
                                                            <td><img src="" height="50px" width="50px"  th:src="@{${'/productImages/' + image.imageName}}"></td>
                                                            <td th:text="${image.imageName}"></td>
                                                            <td>
                                                                <a th:data-confirm-delete="|Are you sure you want to delete this image: ${image.imageName}?|"
                                                                   onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                                                                   th:href="@{/remove-productImage/{id}(id=${image.id})}" class="btn btn-danger" aria-hidden="true">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${product.id != null}" class="product-tab-list tab-pane fade" id="INFORMATION">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="card-block">
                                                        <div class="text-muted f-w-400">
                                                            <p>No reviews yet.</p>
                                                        </div>
                                                        <div class="m-t-10">
                                                            <div class="txt-primary f-18 f-w-600">
                                                                <p>Your Rating</p>
                                                            </div>
                                                            <div class="stars stars-example-css detail-stars">
                                                                <div class="review-rating">
                                                                    <fieldset class="rating">
                                                                        <input type="radio" id="star5" name="rating" value="5">
                                                                        <label class="full" for="star5"></label>
                                                                        <input type="radio" id="star4half" name="rating" value="4 and a half">
                                                                        <label class="half" for="star4half"></label>
                                                                        <input type="radio" id="star4" name="rating" value="4">
                                                                        <label class="full" for="star4"></label>
                                                                        <input type="radio" id="star3half" name="rating" value="3 and a half">
                                                                        <label class="half" for="star3half"></label>
                                                                        <input type="radio" id="star3" name="rating" value="3">
                                                                        <label class="full" for="star3"></label>
                                                                        <input type="radio" id="star2half" name="rating" value="2 and a half">
                                                                        <label class="half" for="star2half"></label>
                                                                        <input type="radio" id="star2" name="rating" value="2">
                                                                        <label class="full" for="star2"></label>
                                                                        <input type="radio" id="star1half" name="rating" value="1 and a half">
                                                                        <label class="half" for="star1half"></label>
                                                                        <input type="radio" id="star1" name="rating" value="1">
                                                                        <label class="full" for="star1"></label>
                                                                        <input type="radio" id="starhalf" name="rating" value="half">
                                                                        <label class="half" for="starhalf"></label>
                                                                    </fieldset>
                                                                </div>
                                                                <div class="clear"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-status-wrap">
                                                    <table>
                                                        <tr>
                                                            <th></th>
                                                            <th>Khách hàng</th>
                                                            <th>Ngày đánh giá</th>
                                                            <th>Đánh giá</th>
                                                            <th></th>
                                                        </tr>
                                                        <tr th:each="review, iStat : ${product.reviews}">
                                                            <td th:text="${iStat.index} + 1"></td>
                                                            <td th:text="${review.user.firstName} + ' ' + ${review.user.lastName}"></td>
                                                            <td th:text="${datetimeFormatter.format(review.dateTime)}"></td>
                                                            <td>
                                                                <a th:data-confirm-delete="|Are you sure you want to delete this category: ${product.name}?|"
                                                                   onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                                                                   href="" th:href="@{/delete-review/{id}(id=${review.id})}" class="btn btn-danger">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- jquery
    ============================================ -->
<script th:src="@{/nalika/js/vendor/jquery-1.12.4.min.js}"></script>
<!-- bootstrap JS
    ============================================ -->
<script th:src="@{/nalika/js/bootstrap.min.js}"></script>
<!-- wow JS
    ============================================ -->
<script th:src="@{/nalika/js/wow.min.js}"></script>
<!-- price-slider JS
    ============================================ -->
<script th:src="@{/nalika/js/jquery-price-slider.js}"></script>
<!-- meanmenu JS
    ============================================ -->
<script th:src="@{/nalika/js/jquery.meanmenu.js}"></script>
<!-- owl.carousel JS
    ============================================ -->
<script th:src="@{/nalika/js/owl.carousel.min.js}"></script>
<!-- sticky JS
    ============================================ -->
<script th:src="@{/nalika/js/jquery.sticky.js}"></script>
<!-- scrollUp JS
    ============================================ -->
<script th:src="@{/nalika/js/jquery.scrollUp.min.js}"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script th:src="@{/nalika/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
<script th:src="@{/nalika/js/scrollbar/mCustomScrollbar-active.js}"></script>
<!-- metisMenu JS
    ============================================ -->
<script th:src="@{/nalika/js/metisMenu/metisMenu.min.js}"></script>
<script th:src="@{/nalika/js/metisMenu/metisMenu-active.js}"></script>
<!-- sparkline JS
    ============================================ -->
<script th:src="@{/nalika/js/sparkline/jquery.sparkline.min.js}"></script>
<script th:src="@{/nalika/js/sparkline/jquery.charts-sparkline.js}"></script>
<!-- calendar JS
    ============================================ -->
<script th:src="@{/nalika/js/calendar/moment.min.js}"></script>
<script th:src="@{/nalika/js/calendar/fullcalendar.min.js}"></script>
<script th:src="@{/nalika/js/calendar/fullcalendar-active.js}"></script>
<!-- float JS
    ============================================ -->
<script th:src="@{/nalika/js/flot/jquery.flot.js}"></script>
<script th:src="@{/nalika/js/flot/jquery.flot.resize.js}"></script>
<script th:src="@{/nalika/js/flot/curvedLines.js}"></script>
<script th:src="@{/nalika/js/flot/flot-active.js}"></script>
<!-- plugins JS
    ============================================ -->
<script th:src="@{/nalika/js/plugins.js}"></script>
<!-- main JS
    ============================================ -->
<script th:src="@{/nalika/js/main.js}"></script>
<script>
    $(document).ready(function() {
        $('#imageInput').change(function() {
            var input = this;
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#selectedImage').attr('src', e.target.result)
                                        .css({'height': '100px', 'width': '100px'});
                }
                reader.readAsDataURL(input.files[0]);
            }
        });
    });
</script>
</body>

</html>