@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

/* Variables */
:root {
    --main-bg-color: #DAFFFB;
    --sidebar-bg-color: #64CCC5;
    --text-color: #04364A;
}

/* Reset styles */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    background: var(--sidebar-bg-color);
}

.sidebar header {
    font-size: 1.375rem;
    color: white;
    line-height: 70px;
    text-align: center;
    background: var(--sidebar-bg-color);
    user-select: none;
}

.sidebar ul .menuLink {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 58px;
    font-size: 1.25rem;
    color: var(--text-color);
    padding-left: 40px;
    box-sizing: border-box;
    transition: .4s;
    text-decoration: none;
}

.sidebar ul li:hover .menuLink {
    padding-left: 50px;
}

.sidebar ul .menuLink i {
    margin-right: 1em;
}

/* Hamburger menu styles */
#check {
    display: none;
}

label #btn, label #cancel {
    position: absolute;
    background: var(--sidebar-bg-color);
    border-radius: 3px;
    cursor: pointer;
}

label #btn {
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #cancel {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #FFFFFF;
    padding: 4px 9px;
    transition: all .5s ease;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel {
    left: 195px;
}

#check:checked ~ section {
    margin-left: 250px;
}

/* Container styles */
.container-fluid {
    position: fixed;
    left: 300px;
    top: 30px;
    width: 70%;
    margin-right: 100px;
}

.container {
    position: relative;
    top: 30px;
    width: 70%;
    margin-right: 100px;
}

/* Button styles */
.btn-danger, .btn-success, .btn-info, .btn-warning {
    margin-right: 10px;
}
