/*
    Table Responsive
    ===================
    Author: https://github.com/pablorgarcia
*/

@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
.table-custom {
    text-align: left;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    position: fixed;
    left: 300px;
    top: 150px; /* Adjusted top value */
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 1em;
    font-weight: 300;
    text-align: center;
    display: block;
    line-height: 1em;
    padding-bottom: 2em;
    color: #FB667A;
}

h2 a {
    font-weight: 700;
    text-transform: uppercase;
    color: #FB667A;
    text-decoration: none;
}

.blue {
    color: #185875;
}

.yellow {
    color: #FFF842;
}

.table th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.table td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.table {
    text-align: left;
    overflow: hidden;
    width: 60%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
    position: fixed;
    left: 300px;
    top: 100px;
}

.table td,
.table th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    color: #04364A;
}

/* Background-color of the odd rows */
.table tr:nth-child(odd) {
    background-color: #DAFFFB;
}

/* Background-color of the even rows */
.table tr:nth-child(even) {
    background-color: #64CCC5;
}

.table th {
    background-color: #DAFFFB;
}

.table td:first-child {
    color: #04364A;
}

@media (max-width: 800px) {
    .table td:nth-child(4),
    .table th:nth-child(4) {
        display: none;
    }
}
