/* CSS */

header {
    background-color: #f05b4e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 24px;
}

.container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.voucher-list ul {
    list-style: none;
    padding: 0;
}

.voucher-list li {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 10px;
}

.voucher-list button {
    background-color: #176B87;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.voucher-list button:hover {
    background-color: #64CCC5;
}

.voucher-list .voucher-description {
    font-size: 14px;
    color: #04364A;
}

.add-voucher-form label {
    display: block;
}

.add-voucher-form input[type="text"],
.add-voucher-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.add-voucher-form button {
    background-color: #176B87;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-voucher-form button:hover {
    background-color: #64CCC5;
}