<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html th:lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>adminHome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
</head>
<body>
<div th:replace="fragments/sideMenu :: sideMenu">
</div>
<div>
</div>
</body>
</html>
