<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.w3.org/1999/xhtml">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/sideMenu :: sideMenu">
</div>
<div class="container-fluid">
    <table class="table">
        <tr>
            <th scope="col"><h1>ID</h1></th>
            <th scope="col"><h1>FIRST_NAME</h1></th>
            <th scope="col"><h1>LAST_NAME</h1></th>
            <th scope="col"><h1>EMAIL</h1></th>
            <th scope="col"><h1>GENDER</h1></th>
            <th scope="col"><h1>PHONE</h1></th>
        </tr>
        <tr th:each="user, iStat : ${user}">
            <th scope="row" th:text="${iStat.index + 1}">1</th>
            <td th:text="${user.firstName}">Larry</td>
            <td th:text="${user.lastname}">Larry</td>
            <td th:text="${user.email}">Larry</td>
            <td th:text="${user.gender}">Larry</td>
            <td th:text="${user.phone}">Larry</td>
        </tr>
    </table>
</div>
</body>
</html>