<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"  xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.w3.org/1999/xhtml">
    <title>Orders</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
</head>
<body>
<div th:replace="fragments/sideMenu :: sideMenu">
</div>
<div class="container-fluid">
<!--    <a th:href="@{/store/{storeId}/orders/add(storeId=${store.getId()})}" style="margin: 20px 0" class="btn btn-success">Add Order</a>-->
    <table class="table">
        <tr>
            <th scope="col"><h1></h1></th>
            <th scope="col"><h1>First name</h1></th>
            <th scope="col"><h1>Last name</h1></th>
            <th scope="col"><h1>Status</h1></th>
            <th scope="col"><h1>Total</h1></th>
            <th scope="col"><h1>ACTION</h1></th>
        </tr>
        <tr th:each="order, iStat : ${orders}">
            <td scope="row" th:text="${iStat.index + 1}">1</td>
            <td th:text="${order.user.getFirstName()}">Larry</td>
            <td th:text="${order.user.getLastName()}">Larry</td>
            <td th:text="${order.status}">Larry</td>
            <td th:text="${order.totalPrice}">Larry</td>

            <td>
                <a href="" th:href="@{'/store/' + ${store.getId()} + '/orders/update/' + ${order.id}}" class="btn btn-success">Update</a>
                <a href="" th:href="@{'/store/' + ${store.getId()} + '/orders/delete/' + ${order.id}}" class="btn btn-success">Delete</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>