<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <title>Products</title>
</head>
<body>
<div th:replace="fragments/sideMenu :: sideMenu">

</div>
<div class="container-fluid">
    <a th:href="@{/store/{storeId}/products/add(storeId=${store.getId()})}">
        <img th:src="@{/images/icon_add.png}" alt="" width="70px" height="40px" style="margin-bottom: 30px">
    </a>
    <table class="table">
        <tr>
            <th scope="col"><h1>ID</h1></th>
            <th scope="col"><h1>Name</h1></th>
            <th scope="col"><h1>Category Name</h1></th>
            <th scope="col"><h1>Image</h1></th>
            <th scope="col"><h1>Quantity</h1></th>
            <th scope="col"><h1>Action</h1></th>
        </tr>
        <tr th:each="product, iStat : ${products}">
            <td scope="row" th:text="${iStat.index + 1}">1</td>
            <td th:text="${product.name}">Larry</td>
            <td th:text="${product.category.name}">Larry</td>
            <td><img src="" height="50px" width="50px"  th:src="@{${'/productImages/' + product.imageName}}"></td>
            <td th:text="${product.quantity}">Larry</td>
            <td>
                <a href="" th:href="@{'/store/' + ${store.getId()} + '/products/delete/' + ${product.id}}">
                    <img th:src="@{/images/icon_delete.png}" alt="" width="30px" height="30px" style="margin-right:50px">
                </a>
                <a href="" th:href="@{'/store/' + ${store.getId()} + '/products/update/' + ${product.id}}">
                    <img th:src="@{/images/icon_edit.png}" alt="" width="30px" height="30px" style="margin-right:50px">
                </a>
                <a href="">
                    <img th:src="@{/images/icon_detail.png}" alt="" width="30px" height="30px" style="margin-right:50px">
                </a>
                <a href="">
                    <img th:src="@{/images/icon_comment.png}" alt="" width="30px" height="30px">
                </a>
            </td>
        </tr>
    </table>
</div>



<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>