<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
    <style>
        .link-muted { color: #aaa; } .link-muted:hover { color: #1266f1; text-decoration: none}
        .card .d-flex.justify-content-between.align-items-center {
            align-items: flex-start;
        }

        .card .d-flex.justify-content-between.align-items-center a.link-muted {
            margin-left: auto;
        }
    </style>
</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}" src="../static/images/logo.png" width="auto" height="40"
                 class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}"></span>
                </li>
            </ul>

        </div>
    </div>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-5 d-flex justify-content-center">
            <img class="mt-5" height="300px" width="300px" src="" th:src="@{${'/productImages/' + product.imageName}}"
                 alt="">
        </div>
        <form th:action="@{/addItemToCart}" method="post">
            <div class="col-sm-7 mt-5">
                <h2 th:text="${product.name}"></h2>
                <p th:text="${product.category.name}"></p>
                <h2>$ <span th:text="${#numbers.formatDecimal(product.price, 0, 2, 'COMMA')}"></span></h2>
                <!--            <h5>Weight:-->
                <!--                <spna th:text="${product.weight}"></spna> grams.-->
                <!--            </h5>-->
                <p th:text="'Quantity: ' + ${product.quantity}"></p>
                <p th:text="${product.description}"></p>
                <input type="hidden" name="id" th:value="${product.id}">
                <input type="submit" class="btn btn-primary" value="Add to cart">
            </div>
        </form>
    </div>
    <section style="background-color: #e7effd;" sec:authorize="isAuthenticated()">
        <div class="container my-5 py-5 text-dark">
            <div class="row d-flex ">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                     src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                                     height="65" />
                                <div class="w-100">
                                    <h5>Add a comment</h5>
                                    <ul class="rating mb-3" data-mdb-toggle="rating">
                                        <li>
                                            <i class="far fa-star fa-sm text-danger" title="Bad"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star fa-sm text-danger" title="Poor"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star fa-sm text-danger" title="OK"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star fa-sm text-danger" title="Good"></i>
                                        </li>
                                        <li>
                                            <i class="far fa-star fa-sm text-danger" title="Excellent"></i>
                                        </li>
                                    </ul>
                                    <div class="form-outline">
                                        <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                                        <label class="form-label" for="textAreaExample">What is your view?</label>
                                    </div>
                                    <div class="d-flex justify-content-between mt-3">
                                        <p></p>
                                        <button type="button" class="btn btn-success">
                                            <i class="fas fa-long-arrow-alt-right ms-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="background-color: #e7effd;">
        <div class="container my-5 py-5 text-dark">
            <div class="row d-flex">
                <div class="col-md-11 col-lg-9 col-xl-7">
                    <div class="d-flex flex-start mb-4" th:each="review : ${userReviews}">
                        <img class="rounded-circle shadow-1-strong me-3"
                             src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
                             height="65" />
                        <div class="card w-100">
                            <div class="card-body p-4">
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5 th:text="${review.user.firstName + review.user.lastName}"></h5>
                                    <a th:if="${canDelete}" th:href="@{'/deleteReview/' + ${review.id}}" data-toggle="modal" data-target="#my-modal" class="link-muted">
                                        <i class="fas fa-trash me-1" ></i>
                                    </a>
                                    <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content border-0">
                                                <div class="modal-body p-0">
                                                    <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                                        <div class="card-header pb-0 bg-white border-0 "><div class="row"><div class="col ml-auto"><button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div> </div>
                                                            <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p><p class="text-muted "> This change will reflect in your portal after an hour.</p>     </div>
                                                        <div class="card-body px-sm-4 mb-2 pt-1 pb-0">
                                                            <div class="row justify-content-end no-gutters"><div class="col-auto">
                                                                <button type="button" class="btn btn-light text-muted" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                                <form th:action="@{/deleteReview}" method="post">
                                                                    <input type="hidden" name="reviewId" th:value="${review.id}">
                                                                    <input type="hidden" name="productId" th:value="${review.product.id}">
                                                                    <div class="col-auto">
                                                                        <button id="delete" type="submit" class="btn btn-danger px-4">Delete</button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <p class="small" th:text="${dateTimeFormatter.format(review.dateTime)}">3 hours ago</p>
                                <p th:text="${review.comment}"></p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="">
                                        <a href="#" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                                    </div>
                                    <a href="#" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>