<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/sideMenu :: sideMenu"></div>

<div class="container-fluid">
    <h3>Product Reviews</h3>
<!--    <a th:href="@{/store/{storeId}/products/{id}/details/add (storeId=${storeId}, id=${productId})}" style="margin: 20px 0" class="btn btn-primary"> Add detail</a>-->
    <table class="table">
        <tr>
            <th scope="col"></th>
            <th scope="col"><h1>Customer</h1></th>
            <th scope="col"><h1>Date</h1></th>
            <th scope="col"><h1>Comment</h1></th>
            <th></th>
        </tr>
        <tr th:each="review, iStat : ${reviews}">

                <td scope="row" th:text="${iStat.index + 1}">1</td>
                <td th:text="${review.getUser().lastName} + ' ' + ${review.getUser().firstName}"></td>
                <td th:text="${formatter.format(review.dateTime)}"></td>
                <td>
                    <label for="description">
                    <textarea th:text="${review.comment}" style="font-size: 13px" rows="4" cols="40" id="description" name="description" readonly>
                    </textarea>
                    </label>
                </td>
                <td>
<!--                    <input name="id" id="id" th:value="${review.id}" hidden="hidden">-->

                    <button th:data-confirm-delete="|Are you sure you want to delete this review: ${iStat.index + 1}?|"
                            onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                            type="submit" name="action" value="delete" title="Delete" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
        </tr>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>